<template>
	<div>
		<transport />
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import Transport from '@/components/Transport.vue';

@Component({
	components: {
		Transport,
	},
})
export default class Home extends Vue {
}
</script>
