<template>
	<div>
		<pre>{{ msg }}</pre>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action } from 'vuex-class';
import { Actions, FeatureState, IMidiState } from '@/store/midi/types';

const namespace: string = 'midi';

@Component
export default class Init extends Vue {
	@State('midi')
	private midi?: IMidiState;

	@Action(Actions.INIT, { namespace })
	private initialize?: () => void;

	protected async mounted() {
		await this.initialize!();
		if (this.midi!.feature === FeatureState.Supported) {
			this.$router.back();
		}
	}

	get msg() {
		switch (this.midi!.feature) {
			case FeatureState.Unresolved:
				return this.$t('init.unresolved');
			case FeatureState.Forbidden:
				return this.$t('init.forbidden');
			case FeatureState.Unsupported:
				return this.$t('init.unsupported');
			case FeatureState.Supported:
				return this.$t('init.success');
		}
	}
}
</script>
