<template>
	<div class="step-settings">
		<select v-model="pitch" :title="$t('step.pitch')">
			<option :value="p.pitch" v-for="p in pitches" :key="p.name">{{ p.name }}</option>
		</select><br>
		<select v-model="duration" :title="$t('step.duration')">
			<option :value="index + 1" v-for="(_, index) in 16" :key="index">{{ index + 1 }}</option>
		</select>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { Actions, IMidiState } from '@/store/midi/types';

import StepModel from '@/midi-scheduler/step';

import { IStep } from '@/midi-scheduler/types';

import pitches from '@/helper/pitch';

const namespace: string = 'midi';

@Component({
	props: {
		pkey: {
			type: String,
			required: true,
		},
	},
})
export default class Step extends Vue {
	@State('midi')
	midi!: IMidiState;

	pkey!: string;

	@Action(Actions.ACTIVATE_STEP, { namespace })
	activateStep!: ( arg0: IStep ) => void;

	@Action(Actions.UPDATE_STEP, { namespace })
	updateStep!: ( arg0: IStep ) => void;

	switchStep() {
		const newVals = Object.assign({}, this.value, { id: this.value.id, active: !this.value.active });

		this.activateStep(new StepModel(newVals));
	}

	get value(): IStep {
		return this.midi.stepsById[this.pkey];
	}

	get duration() {
		return this.value.duration;
	}

	set duration(val: number) {
		const newVals = Object.assign({}, this.value, { id: this.value.id, duration: Number(val) });

		this.updateStep(new StepModel(newVals));
	}

	get pitch() {
		return this.value.pitch;
	}

	set pitch(val) {
		const newVals = Object.assign({}, this.value, { id: this.value.id, pitch: Number(val) });

		this.updateStep(new StepModel(newVals));
	}

	get pitches() {
		return pitches;
	}
}
</script>

<style lang="scss">
.step-settings {
	select {
		height: $step-width / 2;
		width: $step-width;
	}
}
</style>
