<template>
	<button class="step" :class="{ active: value.active }" @click="switchStep()">
		{{ value.pitch | pitchName }}
	</button>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { Actions, IMidiState } from '@/store/midi/types';

import StepModel from '@/midi-scheduler/step';

import { IStep } from '@/midi-scheduler/types';

import { nameByPitch } from '@/helper/pitch';

const namespace: string = 'midi';

@Component({
	filters: {
		pitchName(value: number) {
			return nameByPitch[value] || '-';
		},
	},
	props: {
		pkey: {
			type: String,
			required: true,
		},
	},
})
export default class Step extends Vue {
	@State('midi')
	midi!: IMidiState;

	pkey!: string;

	@Action(Actions.UPDATE_STEP, { namespace })
	updateStep!: ( arg0: IStep ) => void;

	switchStep() {
		const newVals = Object.assign({}, this.value, { id: this.value.id, active: !this.value.active });

		this.updateStep(new StepModel(newVals));
	}

	get value() {
		return this.midi.stepsById[this.pkey];
	}
}
</script>

<style lang="scss">
.step {
	width: $step-width;
	height: $step-width / 2;

	&:not(.active):not(:active) {
		background: $grey-0;
		color: $grey-1;
	}
}
</style>
