<template>
	<div class="track" :class="{ 'show-settings': showSettings }">
		<div class="track-controls">
			<button class="settings-trigger" @click="showSettings = !showSettings">&#9881;</button>
			<button class="remove-track" v-if="showSettings" :title="$t('track.remove')" @click="removeTrack(value)">&#8722;</button>
		</div>
		<div class="steps">
			<div class="step-wrapper"
				:class="classObject(index, step)"
				v-for="(step, index) in value.steps"
				:key="step.id"
			>
				<Step :pkey="step.id" />
				<StepSettings v-if="showSettings" :pkey="step.id" />
			</div>
			<button v-if="showSettings" :title="$t('step.remove')" class="step-control" @click="removeStep(value)">&#8722;</button>
			<button v-if="showSettings" :title="$t('step.add')" class="step-control" @click="addStep(value)">&#43;</button>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class';
import { Actions, IMidiState } from '@/store/midi/types';

import Step from '@/components/Step.vue';
import StepSettings from '@/components/StepSettings.vue';

import { ITrack, IStep } from '@/midi-scheduler/types';

const namespace = 'midi';

@Component({
	components: {
		Step,
		StepSettings,
	},
	props: {
		pkey: {
			type: String,
			required: true,
		},
	},
})
export default class Track extends Vue {
	@State(namespace)
	midi!: IMidiState;

	@Action(Actions.ADD_STEP, { namespace })
	addStep!: (arg0: ITrack) => void;

	@Action(Actions.REMOVE_STEP, { namespace })
	removeStep!: (arg0: ITrack) => void;

	@Action(Actions.REMOVE_TRACK, { namespace })
	removeTrack!: (arg0: ITrack) => void;

	pkey!: string;

	showSettings: boolean = false;

	get value() {
		return this.midi.tracksById[this.pkey];
	}

	get boundSteps() {
		const ret: number[] = [];
		let noiseLevel = 0;

		for (const { active, duration } of this.value.steps) {
			if (active) {
				noiseLevel = duration;
			}

			ret.push(noiseLevel);

			if (noiseLevel) {
				noiseLevel--;
			}
		}

		return ret;
	}

	classObject(index: number, step: IStep): any {
		return {
			'is-current': this.value.stepCursor === index,
			'is-bound': this.boundSteps[index] > 0,
			'is-binding': step.duration > 1,
		};
	}
}
</script>

<style lang="scss">
.track {
	display: flex;

	.track-controls {
		display: flex;
		flex-direction: column;

		button {
			height: $step-width / 2;
			width: $step-width / 2;
		}
	}

	.remove-track {
		background: $danger;
	}

	.steps {
		display: flex;

		margin-left: $quarter-gap;

		> * {
			flex: 0 0 auto;
		}
	}

	&.show-settings {
		.settings-trigger {
			background: $grey-1;
		}
	}

	.step-wrapper {
		padding-left: $quarter-gap;
		padding-right: $quarter-gap;

		&.is-bound {
			background: $grey-0;
		}

		&.is-binding {
			background: $grey-1;
		}

		&.is-current {
			background: $highlight;
		}
	}

	.step-control {
		display: inline-block;

		margin-left: $quarter-gap;

		~ .step-control {
			margin-left: 0;
		}

		width: $step-width / 2;
	}
}
</style>
