<template>
	<div class="track-settings">
		<label>
			output:
			<select v-model="outputId">
				<option :value="output.id" v-for="output in outputs" :key="output.id">
					{{ output.name }}
				</option>
			</select>
		</label>
		<label>
			channel:
			<select v-model="channel">
				<option v-for="c in channels" :key="c">
					{{ c }}
				</option>
			</select>
		</label>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter, State } from 'vuex-class';
import { Actions, Getters, IMidiState } from '@/store/midi/types';

const namespace = 'midi';

@Component({
	data() {
		return {
			channels: Array.from({length: 16}, (_, k) => k + 1),
		};
	},
	props: {
		pkey: {
			type: String,
			required: true,
		},
	},
})
export default class Track extends Vue {
	@State(namespace)
	midi!: IMidiState;

	@Getter(Getters.OUTPUT_LIST, { namespace })
	outputs!: WebMidi.MIDIOutput[];

	@Action(Actions.UPDATE_TRACK, { namespace })
	updateTrack!: (payLoad: any) => void;

	pkey!: string;

	get value() {
		return this.midi.tracksById[this.pkey];
	}

	get outputId() {
		return this.value.outputId;
	}

	set outputId(val: string) {
		localStorage.setItem('last_output', val);
		this.updateTrack({ id: this.value.id, outputId: val });
	}

	get channel() {
		return String(this.value.channel);
	}

	set channel(val: string) {
		this.updateTrack({ id: this.value.id, channel: Number(val) });
	}
}
</script>

<style lang="scss">
.track-settings {
	display: flex;
	align-items: center;

	label {
		margin-right: $gap;
	}
}
</style>
