<template>
	<div id="transport">
		<label>
			BPM
			<input v-model="transport.bpm" type="range" step="1" max="300" min="20">
			{{ transport.bpm }}
		</label>

		<label>
			Beat divider
			<input v-model="transport.divider" type="range" step="1" max="16" min="1">
			1/{{transport.divider}}
		</label>

		<button @click="start()" :disabled="playing">&#9654; start</button>
		<button @click="stop()">&#9632; stop</button>

		<hr>

		<div class="tracks">
			<h3>Tracks</h3>
			<div class="beat-steps">
				<div
					class="beat-step"
					v-for="(s, index) in beatSteps" :key="index"
					:class="{ 'is-beat': index % transport.divider === 0 }"
					:style="{ 'height': transport.tracks.length * (1.5 + 0.5) + 0.5 + 'rem', 'left': index * (3 + 0.5) + 'rem' }"
				>
				</div>
			</div>

			<Track
				v-for="track in transport.tracks"
				:key="track.id"
				:pkey="track.id"
				/>
			<button class="add-track" :title="$t('track.add')" @click="addTrack()">&#43;</button>
		</div>

		<hr>

		<div class="tracks-settings">
			<h3>Track Settings</h3>
			<div :pkey="track.id" v-for="(track, index) in transport.tracks" :key="track.id">
				<strong>Track {{index + 1}}: </strong> <TrackSettings :pkey="track.id" />
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Action, Getter, State } from 'vuex-class';
import { Actions, Getters } from '@/store/midi/types';

import MidiScheduler from '@/midi-scheduler';
import { ITransport } from '@/midi-scheduler/types';

import Track from '@/components/Track.vue';
import TrackSettings from '@/components/TrackSettings.vue';

import wakelock from '@/helper/wakelock';

const namespace: string = 'midi';

@Component({
	components: {
		Track,
		TrackSettings,
	},
})
export default class Transport extends Vue {
	@Getter(Getters.OUTPUT_LIST, { namespace })
	outputs!: WebMidi.MIDIOutput[];

	@Getter(Getters.STEP_LENGTH, { namespace })
	stepLength!: number;

	@State('transport', { namespace })
	transport!: ITransport;

	@Action(Actions.ADD_TRACK, { namespace })
	addTrack!: () => void;

	playing: boolean = false;

	private _scheduler?: MidiScheduler;

	get beatSteps(): number[] {
		return Array(this.stepLength);
	}

	start() {
		if (!this._scheduler) {
			this._scheduler = new MidiScheduler(this.transport);
		}
		this._scheduler.start();
		wakelock.enable();
		this.playing = true;
	}

	stop() {
		if (!this._scheduler) {
			return;
		}
		this._scheduler.stop();
		wakelock.disable();
		this.playing = false;
	}
}
</script>

<style lang="scss">
#transport {

	> label {
		display: inline-flex;
		align-items: center;
		padding-right: $half-gap;

		border-right: 1px dashed $grey-1;

		&:not(:first-of-type) {
			padding-left: $half-gap;
		}
	}

	> input, > button {
		margin-left: $half-gap;
	}
}

.tracks {
	overflow: auto;

	.track {
		padding-top: $half-gap;
	}

	user-select: none;

	&::-webkit-scrollbar {
	  height: $quarter-gap;
	}

	&::-webkit-scrollbar-track {
	  background: $grey-2;
	}

	&::-webkit-scrollbar-thumb {
	  background: $grey-1;
	}
}

.tracks-settings{
	.track-settings {
		display: inline-block;

	}

	> :not(:last-child) {
		margin-bottom: $gap;
	}
}

.add-track {
	margin-top: $half-gap;
	margin-bottom: $half-gap;

	width: $step-width / 2;
	height: $step-width / 2;
}

.beat-steps {
	margin-left: $step-width / 2 + $quarter-gap;
	position: relative;

	.beat-step {

		position: absolute;
		width: $step-width;

		z-index: -1;

		&.is-beat {
			border-left: 1px solid $grey-0;
		}
	}
}
</style>

