$font-family:  monospace;

$bg-color:     #16161d;

$gap:          1rem;
$half-gap:     0.5rem;
$quarter-gap:  0.25rem;

$step-width:   3rem;
$grey-0:       #333;
$grey-1:       #666;
$grey-2:       #bbb;
$grey-3:       #ccc;
$grey-4:       #ddd;

$black-0:      #090909;
$black-1:      #626262;

$red-0:        #cd3131;
$red-2:        #f14c4c;

$green-0:      #088759;
$green-1:      #16a772;

$yellow-0:     #e5e510;
$yellow-1:     #f5f543;

$blue-0:       #2472c8;
$blue-1:       #3b8eea;

$magenta-0:    #bc3fbc;
$magenta-1:    #d670d6;

$cyan-0:       #11a8cd;
$cyan-1:       #29b8db;

$white-0:      #dddddd;
$white-1:      #ffffff;

$highlight:    $cyan-0;
$highlight-1:  $white-0;
$highlight-2:  $magenta-1;

$danger:       $red-0;
