<template>
	<div id="app">
		<router-view class="content"/>
			<pre id="version">{{ $store.state.version }}</pre>
	</div>
</template>

<style lang="scss">
#nav {
	padding: 30px;
	a {
		font-weight: bold;
		color: #2c3e50;
		&.router-link-exact-active {
			color: #42b983;
		}
	}
}
#version {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}
</style>
