body {
	background: $bg-color;
	color: #ccc;

	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;

	line-height: 1;

	border: 1px solid black;
	background: $grey-2;

	padding: $quarter-gap;

	&:active {
		background: $grey-2;
	}
}

input {
	font-family: $font-family;
	border: 1px solid black;
	background: $grey-4;

	padding: $quarter-gap;
}

hr {
	border: 1px dashed $grey-1;
}
